@font-face {
  font-family: customFont;
  src: url("../assets/fonts/ITCAvantGardeStdBold.otf") format("opentype"); }
body {
  margin: 0;
  font-family: customFont, sans-serif;
  background: #f8eef6;
  background: linear-gradient(180deg, #f8eef6 0%, #ffeefc 100%);
  color: #98282B; }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    opacity: 0.70;
    z-index: -1;
    background-image: url(../assets/img/svg/dartboard_white.svg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover; }

img {
  display: block;
  margin: 0; }

video {
  object-fit: cover; }

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto; }

#credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: clamp(0.75rem, calc(-0.2222rem + 5.4321vw), 1.5rem); }
  #credits ul {
    list-style: none;
    padding: unset; }
  #credits li {
    padding-bottom: 1rem; }
    #credits li:last-child {
      padding-bottom: unset; }

#highscores {
  display: flex;
  padding: 5rem;
  font-size: 1.5625rem; }
  #highscores table {
    width: 100%;
    border-collapse: collapse;
    text-align: left; }
    #highscores table td {
      padding: 0.625rem; }
    #highscores table tr:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.75); }
    #highscores table th {
      background-color: #FFF;
      padding: 0.625rem; }

#videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 0; }

.backgroundVideo {
  position: relative;
  width: 100%;
  height: 100%; }

#logo {
  display: flex;
  height: calc(40vh - 2rem);
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  #logo img {
    width: auto;
    height: 100%; }

#menu {
  display: flex;
  height: calc(60vh - 2rem);
  z-index: 1;
  font-size: clamp(4.5rem, calc(-0.2222rem + 5.4321vw), 9rem);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem; }
  #menu ul {
    list-style: none;
    margin: unset;
    padding: unset; }

#pageNav {
  position: fixed;
  font-size: 1.5rem; }
  #pageNav ul ::marker {
    content: "\25C0";
    color: #000;
    font-size: 1.75rem; }
  #pageNav li {
    padding-left: 10px; }
  #pageNav a {
    text-decoration: none;
    color: #000; }

.nav {
  text-decoration: none;
  color: inherit;
  text-shadow: 3px 3px 0 #000;
  -webkit-text-stroke: 3px #000; }
  .nav:focus, .nav:hover {
    outline: none;
    color: #FFF; }

#score {
  height: calc(60vh - 2rem);
  z-index: 1;
  padding: 1rem;
  text-align: center; }
  #score h1 {
    font-size: clamp(4.5rem, calc(-0.2222rem + 5.4321vw), 10rem);
    color: inherit;
    text-shadow: 3px 3px 0 #000;
    -webkit-text-stroke: 3px #000;
    margin: unset; }
  #score h2 {
    font-size: clamp(2.5rem, calc(-0.2222rem + 5.4321vw), 5rem);
    color: #ffe300;
    text-shadow: 3px 3px 0 #000;
    -webkit-text-stroke: 3px #000;
    margin: unset; }

#scoreForm {
  margin: 2rem;
  font-size: 2.5rem; }
  #scoreForm input[type=text] {
    height: 1.875rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    font-family: inherit;
    margin: 1.25rem;
    text-align: inherit;
    border: 3px solid black;
    transition: 500ms linear;
    font-size: 1.5rem; }
    #scoreForm input[type=text]:focus, #scoreForm input[type=text]:hover {
      border: 3px solid #98282B; }
  #scoreForm input[type=submit] {
    display: inline-block;
    height: auto;
    background-color: #98282B;
    color: #FFF;
    font-family: inherit;
    border: none;
    font-size: 2.375rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    box-shadow: 0 0 0 2px #000, 3px 3px 0 #000;
    transition: 500ms linear; }
    #scoreForm input[type=submit]:hover {
      background-color: #FFF;
      color: #98282B;
      box-shadow: 0 0 0 2px #000, 3px 3px 0 #000; }

#interface {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 5rem);
  height: calc(100vh - 5rem);
  z-index: 1;
  border: 2.5rem solid #F8EEF6;
  background: #FFF;
  color: #000; }

#categoryCard {
  visibility: visible;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  flex-direction: column;
  height: calc(100vh - 10rem);
  width: calc(100% - 10rem);
  padding: 5rem;
  font-size: clamp(1rem, calc(-0.2222rem + 5.4321vw), 5rem);
  z-index: 3;
  justify-content: center;
  align-items: center;
  text-align: center; }
  #categoryCard::before {
    content: "";
    position: fixed;
    bottom: 2.5rem;
    left: 2.5rem;
    width: 100%;
    min-height: 100%;
    opacity: 0.03;
    z-index: -1;
    background-image: url(../assets/img/svg/dartboard_black.svg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover; }
  #categoryCard ul {
    list-style: none; }

.categoryOption {
  text-decoration: none;
  color: #000; }
  .categoryOption:focus, .categoryOption:hover {
    outline: none;
    color: #98282B; }

#questionCard {
  visibility: hidden;
  display: flex;
  height: calc((100vh - 40vh) - 15rem);
  padding: 5rem;
  font-size: clamp(1rem, calc(-0.2222rem + 5.4321vw), 4rem);
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center; }

#interfaceOptions {
  visibility: hidden;
  display: flex;
  height: 40vh;
  flex-wrap: wrap;
  z-index: 2; }
  #interfaceOptions::before {
    content: "";
    position: fixed;
    bottom: 2.5rem;
    left: 2.5rem;
    width: 100%;
    min-height: 100%;
    opacity: 0.03;
    z-index: -1;
    background-image: url(../assets/img/svg/dartboard_black.svg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover; }

.optionsChild {
  flex-grow: 1;
  width: calc(100% / 2); }

.answer {
  display: flex;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  padding: 1rem;
  border: 1rem solid rgba(255, 255, 255, 0);
  transition: 250ms linear;
  text-decoration: none;
  color: #000;
  font-size: 1.875rem;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .answer:focus, .answer:hover {
    outline: none;
    border: 1rem solid #98282B; }

.dartOption {
  display: flex;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  padding: 1rem;
  border: 1rem solid rgba(255, 255, 255, 0);
  transition: 250ms linear;
  text-decoration: none;
  color: #FFFF00FF;
  text-shadow: 1px 1px 0 #000;
  -webkit-text-stroke: 1px #000;
  font-size: 1.875rem;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .dartOption:focus, .dartOption:hover {
    outline: none;
    border: 1rem solid #FFF; }

#portraitNotification {
  display: none; }

@media (orientation: portrait) {
  .backgroundVideo {
    display: none; }

  #interface {
    visibility: visible;
    display: flex;
    height: calc(100vh - 5rem);
    width: calc(100% - 5rem);
    padding: 2.5rem;
    color: #FFF;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    border: unset; }

  #categoryCard, #questionCard, #interfaceOptions {
    display: none; }

  #portraitNotification {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-size: clamp(1rem, calc(-0.2222rem + 5.4321vw), 5rem);
    z-index: 10;
    padding: 1rem;
    text-align: center; } }
#dartCounter {
  position: fixed;
  z-index: 4;
  height: 90px;
  width: 90px;
  padding: 10px;
  background-image: url(../assets/img/svg/dartboard.svg);
  background-size: contain;
  font-size: 4.5rem;
  color: #FFFF00FF;
  text-shadow: 3px 3px 0 #000;
  -webkit-text-stroke: 3px #000;
  text-align: center; }

@media only screen and (max-height: 500px) {
  #interface {
    padding: 1rem;
    width: calc(100% - 4rem);
    height: calc(100vh - 4rem);
    border: 1rem solid #F8EEF6; }

  #categoryCard {
    height: calc(100vh - 2rem);
    width: calc(100% - 2rem);
    padding: 1rem; }
    #categoryCard::before {
      bottom: 1rem;
      left: 1rem; }

  #questionCard {
    padding: 1rem;
    font-size: 1rem;
    height: calc((100vh - 40vh) - 10rem); }

  #interfaceOptions::before {
    bottom: 1rem;
    left: 1rem; }

  .answer {
    font-size: 1rem; }

  #dartCounter {
    height: 45px;
    width: 45px;
    padding: 5px;
    font-size: 2rem;
    text-shadow: 1px 1px 0 #000;
    -webkit-text-stroke: 1px #000; } }

/*# sourceMappingURL=main.css.map */
